/* body, html {
  height: 100%;
} */

.bg { 
    background-image: url("https://github.com/Phillips4100/Web-Design-Challenge/blob/master/assets/equatorsign.png?raw=true");

   height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* overflow: hidden; */
}
.table_2 {
    visibility: hidden;
}

@media only screen and (max-width: 800px) {
    .table_1 {
        visibility: hidden;
    }

    .table_2 {
        visibility: visible;
        position: absolute;
        /* left: 0px; */
        top: 265px;
        z-index: -1;
    }
}